<aside class="paGe-aside">
  <header class="paGe-header">
    {{site-title}}
  </header>


  <div class="paGe-sidebar">
    {{yield 'sidebar'}}
  </div>
</aside>

<main class="paGe-content">
  {{yield}}
</main>