<div
  class="page-requests-index"
  data-eq-pts="small: 0, medium: 300, large: 600"
>

  {{req-uest
    request=requestTitles
    fake=true
    class="page-requests-index-requestTitles"
  }}

  {{#each model as |request|}}
    {{req-uest request=request}}
  {{/each}}

</div>