///------------------------------------------
.page-requests
  //------------------------------------------

  // ----- Layout -----
  min-height: 100vh

  // ----- Looks -----
  &, .paginatorWithOptions
    +dark

  // ----- Content layout -----
  +eq(small)
    .paGe-aside .paginatorWithOptions
      display: none

    .demoDesc
      height: $demoDesc-height

    .sticky-wrapper.is-sticky .sticky._pagiNator
      top:    $demoDesc-height !important

  +eq(medium)
    .paGe-aside .paginatorWithOptions
      display: none

    .demoDesc
      position: fixed
      left: 0
      top:  0
      bottom: 0
      width:   $demoDesc-width
      overflow: hidden

    .demoDesc-inner
      transform: rotate(-90deg)

    .demoDesc-inner2
      position:  absolute
      right:     20px
      top:       -24px
      width:     100vh
      z-index:   20

    .paGe-aside, .page-requests-content
      margin-left: $demoDesc-width

    .sticky-wrapper.is-sticky > .sticky._pagiNator
      top:   0 !important
      left:  $demoDesc-width
      right: 0
      width: auto


  +eq(large)
    .paGe-content .sticky._pagiNator
      display: none

    .sticky._demoDesc
      position:   relative // Required for box-shadow for some reason
      box-shadow: 0px 5px 10px 0 black

    .sticky-wrapper.is-sticky > .sticky._demoDesc
      right: 0
      width: 75%


  +eq(huge)
    .paGe-content
      .sticky-wrapper
        display: none

    .page-requests-content
      display: flex
      > *
        width: 50%



  +eq(small, medium, large)
    .sticky._pagiNator
      transition: top 0.6s

    .page-requests-content
      position: relative
      overflow: hidden

    .page-requests-content-sidebar
      position:   absolute
      left:       100%
      width: 100%
      top: 0
      height: 100%
      transition: left 0.6s
      overflow-x: auto

    &.-modeIsDemo
      .page-requests-content-sidebar
        left: 0

      .sticky._pagiNator:not(.increasing-specificity)
        top: -300px !important

  +eq(small, medium)
    .paginatorWithOptions
      position:   relative // Required for box-shadow for some reason
      box-shadow: 0px 5px 10px 0 black


  +eq(large, huge)
    .paGe-aside
      display: table

      .paGe-header, .paGe-sidebar
        display: table-row

      .paGe-header
        height: 100px

      .paginatorWithOptions
        display:        table-cell
        vertical-align: middle
        padding:        0.5rem

      .paginatorWithOptions-toggler
        display: none

      .paginatorWithOptions-options
        display: block !important


////------------------------------------------
.page-requests-content-sidebar
  //------------------------------------------

  // ----- Looks -----
  +dark
