{{#pa-ge
  class="page-index"
  modeIsDemo=modeIsDemo
  as |section|
}}
  {{#if (eq section 'sidebar')}}
    {{pagi-nator}}
  {{else}}


    {{#sticky-container class="_demoDesc"}}
      {{demo-desc modeIsDemo=modeIsDemo}}
    {{/sticky-container}}

    <div class="page-index-content">

      {{#sticky-container class="_pagiNator"}}
        {{pagi-nator}}
      {{/sticky-container}}

      <div class="page-index-content-content">
        <div class="page-index-content-yield">
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
          <p>asdf</p>
        </div>

        <div class="page-index-content-sidebar">
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
          <p>HJG HLKJ </p>
        </div>
      </div>
    </div>
  {{/if}}
{{/pa-ge}}